@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600;6..96,700;6..96,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  padding: 0;
  margin: 0;
}
html {
  font-family: "Bodoni Moda", serif;
  font-family: "Nunito", sans-serif;
}

.container {
  width: 100%;
  height: 110vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content {
  color: white;
  width: 80%;
  height: 110vh;
}
.header {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  margin-left: 0.5rem;
}
.header ion-icon {
  font-size: 2.5rem;
}
.names {
  margin-left: 1rem;
}
.names p {
  color: #565a5e;
  font-size: 1.2rem;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -6.8rem;
  margin-right: 6rem;
  margin-left: 5rem;
}
.profile-pic {
  background-color: #fff;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}
.profile-pic img {
  object-fit: cover;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}
.image-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.image-section h1 {
  padding: 0rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
.image-section p {
  padding: 0rem 1rem;
  color: #565a5e;
  font-size: 1.4rem;
}
.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-section ion-icon {
  font-size: 2rem;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 50%;
  margin: 0.5rem;
}
.contact-section button {
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 60px;
  margin: 0.5rem;
}
.bio {
  margin-left: 6rem;
  margin-right: 6rem;
  margin-top: 1rem;
}
.bio p {
  font-size: 1.6rem;
  font-weight: 300;
}
.bio p span {
  color: #1985ce;
}
.education {
  display: flex;
  margin-left: 5rem;
  margin-top: 0.5rem;
  margin-right: 6rem;
}
.education p {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  font-size: 1.3rem;
  color: #565a5e;
}
.education p ion-icon {
  margin-right: 0.5rem;
}
.education p span {
  color: #1985ce;
}
.join {
  display: flex;
  align-items: center;
  margin-left: 6rem;
  font-size: 1.3rem;
  color: #565a5e;
}
.join ion-icon {
  margin-right: 0.5rem;
}
.follow {
  display: flex;
  align-items: center;
  margin-left: 6rem;
  margin-top: 0.5rem;
}
.follow h2 {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.follow h2 span {
  font-size: 1.3rem;
  font-weight: 300;
  color: #565a5e;
  margin-left: 5px;
}
.followers {
  display: flex;
  align-items: center;
}
.followers p {
  margin-left: 2rem;
  color: #565a5e;
  font-size: 1.2rem;
}
.follower-pics {
  display: flex;
  align-items: center;
  margin-left: 6rem;
  margin-top: 0.5rem;
}
.image1 {
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  margin-left: 1.4rem;
  border: 2px solid black;
}
.image1 img {
  object-fit: cover;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.image2 {
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  margin-left: 0.6rem;
  border: 2px solid black;
}
.image2 img {
  object-fit: cover;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.image3 {
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: relative;
  border: 2px solid black;
}
.image3 img {
  object-fit: cover;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.link {
  margin-left: 6rem;
  margin-right: 6rem;
  margin-top: 1rem;
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.links .tweet {
  border-bottom: 4px solid #1985ce;
}
hr {
  margin-top: 0.5rem;
  border: 0.1px solid #565a5e;
}
.tweets {
  margin-left: -3rem;
  color: white;
  margin-top: 2rem;
}
.pinned {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: 8rem;
  color: #565a5e;
  justify-content: space-between;
  width: 50rem;
  margin-bottom: 30rem;
}
.pinned ion-icon {
  font-size: 2rem;
}
.pinned p ion-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}
.pinned p {
  font-size: 1.2rem;
  font-weight: 800;
  display: flex;
  align-items: center;
}
.tweet-pic {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 0.5rem;
}
.tweet-pic img {
  object-fit: cover;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.tweet-content {
  display: flex;
  margin-left: -4rem;
}
.text-tweet {
  margin-left: 7px;
  margin-top: 10px;
}
.text-tweet span {
  color: #565a5e;
  font-weight: 400;
  font-size: 1.4rem;
}
.text-tweet p {
  font-size: 1.3rem;
  margin-top: 5px;
  margin-left: 5px;
  width: 50rem;
}
.tweetslistcontainer {
  padding-top: 10rem;
  width: 100%;
  height: 310vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MEDIA QUERY */

@media (max-width: 1058px) {
  .container {
    width: 100%;
    height: 120vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content {
    color: white;
    width: 80%;
    height: 110vh;
  }
  .header {
    display: flex;
    align-items: center;
    padding: 0.2rem;
    margin-left: 1rem;
  }
  .header ion-icon {
    font-size: 2rem;
  }
  .names {
    margin-left: 2rem;
  }
  .names p {
    color: #565a5e;
    font-size: 1rem;
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile-section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -6.4rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .profile-pic {
    background-color: #fff;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }
  .profile-pic img {
    object-fit: cover;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }
  .image-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .image-section h1 {
    padding: 0rem 1rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
  }
  .image-section p {
    padding: 0rem 1rem;
    color: #565a5e;
    font-size: 1.4rem;
  }
  .contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-section ion-icon {
    font-size: 1rem;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 50%;
    margin: 0.5rem;
  }
  .contact-section button {
    padding: 0.5rem;
    color: #fff;
    font-weight: bold;
    font-size: 0.7rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 60px;
    margin: 0.5rem;
  }
  .bio {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .bio p {
    font-size: 1.3rem;
    font-weight: 300;
  }
  .bio p span {
    color: #1985ce;
  }
  .education {
    display: flex;
    margin-top: 0.5rem;
    margin-right: 2rem;
    margin-left: 1rem;
  }
  .education p {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #565a5e;
  }
  .education p ion-icon {
    margin-right: 0.5rem;
  }
  .education p span {
    color: #1985ce;
  }
  .join {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 1rem;
    color: #565a5e;
  }
  .join ion-icon {
    margin-right: 0.5rem;
  }
  .follow {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-top: 0.5rem;
  }
  .follow h2 {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
  }
  .follow h2 span {
    font-size: 1rem;
    font-weight: 300;
    color: #565a5e;
    margin-left: 5px;
  }
  .followers {
    display: flex;
    align-items: center;
  }
  .followers p {
    margin-left: 1.2rem;
    color: #565a5e;
    font-size: 1.2rem;
  }
  .follower-pics {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-top: 0.5rem;
  }
  .image1 {
    background-color: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    margin-left: 1.4rem;
    border: 2px solid black;
  }
  .image1 img {
    object-fit: cover;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .image2 {
    background-color: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    margin-left: 0.6rem;
    border: 2px solid black;
  }
  .image2 img {
    object-fit: cover;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .image3 {
    background-color: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: relative;
    border: 2px solid black;
  }
  .image3 img {
    object-fit: cover;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .link {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .links .tweet {
    border-bottom: 4px solid #1985ce;
  }
  hr {
    margin-top: 0.5rem;
    border: 0.1px solid #565a5e;
  }
  .tweets {
    margin-left: 4rem;
    margin-right: 4rem;
    color: white;
    margin-top: 2rem;
  }
  .pinned {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-left: 3rem;
    color: #565a5e;
    justify-content: space-between;
    width: 33rem;
  }
  .pinned ion-icon {
    font-size: 2rem;
  }
  .pinned p ion-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  .pinned p {
    font-size: 1.2rem;
    font-weight: 800;
    display: flex;
    align-items: center;
  }
  .tweet-pic {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #fff;
    margin-top: 0.5rem;
  }
  .tweet-pic img {
    object-fit: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
  .tweet-content {
    display: flex;
  }
  .text-tweet {
    margin-left: 7px;
    margin-top: 10px;
  }
  .text-tweet span {
    color: #565a5e;
    font-weight: 400;
    font-size: 1.4rem;
  }
  .text-tweet p {
    font-size: 1rem;
    margin-top: 5px;
    margin-left: 5px;
    width: 30rem;
  }
  .tweetslistcontainer {
    margin-top: -9rem;
    width: 100%;
    height: 310vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 606px) {
  .container {
    width: 100%;
    height: 120vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content {
    color: white;
    width: 100%;
    height: 110vh;
  }
  .header {
    display: flex;
    align-items: center;
    padding: 0.2rem;
    margin-left: 10px;
  }
  .header ion-icon {
    font-size: 2rem;
  }
  .names {
    margin-left: 2rem;
  }
  .names p {
    color: #565a5e;
    font-size: 1rem;
  }
  .icons img {
    width: 25rem;
  }
  .profile-section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -2rem;
    margin-right: 10px;
    margin-left: 10px;
  }
  .profile-pic {
    background-color: #fff;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }
  .profile-pic img {
    object-fit: cover;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }
  .image-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .image-section h1 {
    padding: 0rem 1rem;
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .image-section p {
    padding: 0rem 1rem;
    color: #565a5e;
    font-size: 0.5rem;
  }
  .contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-section ion-icon {
    font-size: 1rem;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 50%;
    margin: 0.5rem;
  }
  .contact-section button {
    padding: 0.5rem;
    color: #fff;
    font-weight: bold;
    font-size: 0.7rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 60px;
    margin: 0.5rem;
  }
  .bio {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .bio p {
    font-size: 1rem;
    font-weight: 300;
  }
  .bio p span {
    color: #1985ce;
  }
  .education {
    display: flex;
    margin-top: 0.5rem;
    margin-right: 2rem;
    margin-left: 1rem;
  }
  .education p {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #565a5e;
  }
  .education p ion-icon {
    margin-right: 0.5rem;
  }
  .education p span {
    color: #1985ce;
  }
  .join {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 1rem;
    color: #565a5e;
  }
  .join ion-icon {
    margin-right: 0.5rem;
  }
  .follow {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-top: 0.5rem;
  }
  .follow h2 {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  .follow h2 span {
    font-size: 0.5rem;
    font-weight: 300;
    color: #565a5e;
    margin-left: 5px;
  }
  .followers {
    display: flex;
    align-items: center;
  }
  .followers p {
    margin-left: 30px;
    color: #565a5e;
    font-size: 0.5rem;
  }
  .follower-pics {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-top: 0.5rem;
  }
  .image1 {
    background-color: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    margin-left: 1.4rem;
    border: 2px solid black;
  }
  .image1 img {
    object-fit: cover;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .image2 {
    background-color: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    margin-left: 0.6rem;
    border: 2px solid black;
  }
  .image2 img {
    object-fit: cover;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .image3 {
    background-color: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: relative;
    border: 2px solid black;
  }
  .image3 img {
    object-fit: cover;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .link {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1rem;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .links .tweet {
    border-bottom: 4px solid #1985ce;
  }
  hr {
    margin-top: 0.5rem;
    border: 0.1px solid #565a5e;
  }
  .tweets {
    margin-left: 4rem;
    margin-right: 4rem;
    color: white;
    margin-top: 2rem;
  }
  .pinned {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-left: 3rem;
    color: #565a5e;
    justify-content: space-between;
    width: 23rem;
  }
  .pinned ion-icon {
    font-size: 2rem;
  }
  .pinned p ion-icon {
    font-size: 1rem;
    margin-right: 1rem;
  }
  .pinned p {
    font-size: 0.5rem;
    font-weight: 800;
    display: flex;
    align-items: center;
  }
  .tweet-pic {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #fff;
    margin-top: 0.5rem;
  }
  .tweet-pic img {
    object-fit: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
  .tweet-content {
    display: flex;
  }
  .text-tweet {
    margin-left: 7px;
    margin-top: 10px;
  }
  .text-tweet span {
    color: #565a5e;
    font-weight: 400;
    font-size: 1rem;
  }
  .text-tweet p {
    font-size: 0.5rem;
    margin-top: 5px;
    margin-left: 5px;
    width: 17rem;
  }
  .tweetslistcontainer {
    margin-top: -15rem;
    width: 100%;
    height: 420vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
